{% extends '::base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}
{% block content%}
    <h1>{{ 'Area creation'|trans }}</h1>

    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.nameArea) }}

    <div class="clearfix"></div>
    <div>

        {{ form_widget(form.submit,{'attr':{'class':'btn btn-success m-y-1 btn-lg pull-xs-right'}}) }}
    </div>

    {{ form_end(form) }}

        <a class="btn btn-primary m-y-1" href="{{ path('area') }}">
           {{ 'Back to the list'|trans }}
        </a>


{% endblock %}
