{% extends '::base.html.twig' %}

{% block content%}
    <h1>{{ 'Area'|trans }}</h1>

    <table class="record_properties table">
        <tbody class="thead-default">
            <tr>

                <th>{{ 'Namearea'|trans }}</th>
                <th>{{ 'id'|trans }}</th>

            </tr>
            <tr>

                <td>{{ entity.nameArea }}</td>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>



        <a class="btn btn-primary m-y-1" href="{{ path('area') }}">
            {{ 'Back to the list'|trans }}
        </a>


        <a class="btn-primary btn m-y-1" href="{{ path('area_edit', { 'id': entity.id }) }}">
            {{ 'Edit'|trans }}
        </a>

        {{ form(delete_form) }}

{% endblock %}
