{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ 'Group edit'|trans }}</h1>

    {{ form(edit_form) }}

        <a class="btn btn-primary m-y-1" href="{{ path('group') }}">
            {{ 'Back to the list'|trans }}
        </a>
    {{ form(delete_form) }}

{% endblock %}
