{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="display-inline-block">{{ 'Group list'|trans }}</h1>

    <a class="btn btn-success pull-xs-right" href="{{ path('group_new') }}">
        {{ 'Create a new entry'|trans }}
    </a>
    <table class="records_list table">
        <thead class="thead-default">
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Groupname'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('group_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('group_show', { 'id': entity.id }) }}">{{ 'show'| trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('group_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    {% endblock %}
