{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ 'Group'|trans }}</h1>

    <table class="record_properties table">
        <tbody class="thead-default">
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Groupname'|trans }}</th>

            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>


        <a class="btn btn-primary m-y-1" href="{{ path('group') }}">
            {{ 'Back to the list'|trans }}
        </a>


        <a class="btn btn-primary m-y-1" href="{{ path('group_edit', { 'id': entity.id }) }}">
            {{ 'Edit'|trans }}
        </a>

   {{ form(delete_form) }}

{% endblock %}
