
<div class="navigation-panel pos-relative">
    <a class="bar" href="#"><i class="fa white fa-bars m-x-1 m-t-2"></i></a>
    <a class="superlative text-nowrap white m-x-1" href="#">E-report</a>

    <ul class="list-unstyled p-t-2">
        <li class="text-nowrap p-a-05 b-b b-t">
            <a class="links-visible" href="/"><i class="fa white p-x-05 fa-home"></i></a>
            <a class="links text-nowrap pull-xs-right" href="/">Главная</a>
        </li>

        <li class="text-nowrap p-a-05 b-b b-t">
            <a class="links-visible" href="{{ path('baseforms') }}"><i class="fa white p-x-05 fa-download"></i></a>
            <a class="links text-nowrap pull-xs-right" href="{{ path('baseforms') }}">Формы для скачивания</a>
        </li>

        <li class="text-nowrap p-a-05 b-b">
            <a class="links-visible" href="{{ path('baseforms_report') }}"><i class="fa white p-x-05 fa-university"></i></a>
            <a class="links text-nowrap pull-xs-right" href="{{ path('baseforms_report') }}">Мои отчеты</a>
        </li>


        <li class="text-nowrap white p-a-05 b-b">
            <a class="links-visible" href="{{ path('_settings') }}"><i class="fa white p-x-05 fa-cogs"></i></a>
            <a class="links text-nowrap pull-xs-right" href="{{ path('_settings') }}">Настройки</a>
        </li>

        <li class="text-nowrap white p-a-05 b-b">
            <a class="links-visible" href="{{ path('baseforms_report_admin') }}"><i class="fa white p-x-05 fa-flag"></i></a>
            <a class="links text-nowrap pull-xs-right" href="{{ path('baseforms_report_admin') }}">Административный интерфейс</a>
        </li>
    </ul>
</div>

