{% extends '::base.html.twig' %}

{% block content %}
    <h1 class="display-inline-block">{{ 'User list'|trans }}</h1>

    <a class="btn btn-success pull-xs-right" href="{{ path('user_new') }}">
        {{ 'Create a new entry'|trans }}
    </a>
    <table class="records_list table">
        <thead class="thead-default">
            <tr>
                <th>{{ 'User name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Enabled'|trans }}</th>

                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Phone'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.enabled }}</a></td>

                <td>{{ entity.description }}</td>
                <td>{{ entity.phone }}</td>
                <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    {% endblock %}
