<h3 class="display-inline-block m-t-1">{{ 'BaseForms list'|trans }}</h3>
<a class="btn btn-success pull-xs-right m-b-1" href="{{ path('baseforms_new') }}">
    {{ 'Create a new entry'|trans }}
</a>
<table class="records_list table">
    <thead class="thead-default">
    <tr>
        {#<th>{{ 'id'|trans }}</th>#}
        <th>{{ 'Formreport'|trans }}</th>
        <th>{{ 'Typereportid'|trans }}</th>
        <th>{{ 'Organization'|trans }}</th>
        {#<th>Create User</th>#}
        {#<th>{{ 'Dateaccepted'|trans }}</th>#}
        <th>{{ 'Actions'|trans }}</th>
        <th>{{ 'linc'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            {#<td><a href="{{ path('baseforms_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
            <td>{{ entity.formReport.getFormName}}</td>
            <td>{{ entity.typeReport.getTypeName }}</td>

            <td>{{ entity.organization.getOrganizationShortName }}</td>
            {#<td>{{ entity.createUser.username }}</td>#}

            {#<td>{% if entity.dateAccepted %}{{ entity.dateAccepted|date('Y-m-d H:i:s') }}{% endif %}</td>#}

            <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('baseforms_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('baseforms_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                </ul>
            </td>
            <td><a  href="/download.php?file=report/{{ entity.imageName }}" >{{ 'download'|trans }}</a></td>
        </tr>

    {% endfor %}
    </tbody>
</table>
