{% extends '::base.html.twig' %}

{% form_theme form _self %}

{%- block form_row -%}
    <div class="row">
        <div class="col-xs-3">
            <div class="m-y-05">
                {{- form_label(form) -}}:
            </div>

        </div>
        <div class="col-xs-9">
            {{- form_errors(form) -}}
            <div class="m-y-05">
                {{- form_widget(form, { 'attr': {'class': 'form-control'} }) -}}

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{%- endblock form_row -%}
{% block content %}
    <h1>{{ 'BaseForms creation'|trans }}</h1>

    {#{{ form(form) }}#}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.imageFile) }}
    {{ form_row(form.formReport) }}
    {{ form_row(form.typeReport) }}
    {{ form_row(form.organization) }}
    {{ form_row(form.area) }}
    {#{{ form_row(form.status) }}#}
    {{ form_row(form.description) }}



    <div class="clearfix"></div>
    <div class="row">
        <div class="clearfix"></div>
        {{ form_widget(form.submit,{'attr':{'class':'btn btn-success m-y-1 btn-lg pull-xs-right'}}) }}
    </div>
    {{ form_end(form) }}

        <a class="btn btn-primary m-y-1" href="{{ path('baseforms') }}">
          {{ 'Back to the list'|trans }}
        </a>

{% endblock %}
