{% block content%}

    <h3 class="display-inline-block ">{{ 'News list'|trans }}</h3>
    <div class="clearfix p-y-1"></div>

    {% for entity in entities %}

        <h5 class="display-inline-block">
            <small class="p-x-05 text-muted">{{ entity.dateNews|date("m/d/Y") }}: </small>
            <a class="text-gray-dark" href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.newsTitle|raw }}
            </a>
        </h5>

        <div class="clearfix"></div>
        <div>
            <a class="text-gray-dark" href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.shortNews|raw }}</a>


        </div>
        <hr>

    {% endfor %}


{% endblock %}
