{% extends '::base.html.twig' %}

{% block content%}

    <h2>{{ entity.newsTitle }}</h2>
{{ entity.dateNews|date('Y-m-d H:i:s') }}

    <div class="p-y-1">
            {{ entity.AllNews }}
    </div>





        <a class="btn btn-primary m-y-1" href="{{ path('_welcome') }}">
            {{ 'Back to the list'|trans }}
        </a>
        <a class="btn btn-primary m-y-1" href="{{ path('news_edit', { 'id': entity.id }) }}">
           {{ 'Edit'|trans }}
        </a>

 {{ form(delete_form) }}

{% endblock %}
