{% extends '::base.html.twig' %}

{% block content%}
    <h1>News</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Newstitle</th>
                <td>{{ entity.newsTitle }}</td>
            </tr>
            <tr>
                <th>Shortnews</th>
                <td>{{ entity.shortNews }}</td>
            </tr>
            <tr>
                <th>Allnews</th>
                <td>{{ entity.AllNews }}</td>
            </tr>
            <tr>
                <th>Datenews</th>
                <td>{{ entity.dateNews|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('news_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
