{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ 'Organization'|trans }}</h1>

    <table class="record_properties table">
        <tbody class="thead-default">
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Organizationname'|trans }}</th>
                <th>{{ 'Organizationshortname'|trans }}</th>
                <th>{{ 'Organizationphone'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>

            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.organizationName }}</td>
                <td>{{ entity.organizationShortName }}</td>
                <td>{{ entity.organizationPhone }}</td>
                <td>{{ entity.organizationDescription| raw }}</td>
            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
            <tr>


            </tr>
        </tbody>
    </table>



        <a class="btn btn-primary m-y-1" href="{{ path('organization') }}">
           {{ 'Back to the list'|trans }}
        </a>

        <a class="btn btn-primary m-y-1" href="{{ path('organization_edit', { 'id': entity.id }) }}">
            {{ 'Edit'|trans }}
        </a>

{{ form(delete_form) }}

{% endblock %}
