



<a class="m-x-3" href="{{ path('user_show',{'id':us.id}) }}">{{ 'hello'|trans }} {{ us.userName }}</a>

<span class="p-x-1"> {{ 'lang'|trans }} {{ locale }}</span>






<a class="pull-xs-right" href="{{ path('fos_user_security_logout') }}">{{ 'exit'|trans }}</a>
