{% extends '::base.html.twig' %}

{% block content%}
    <h1>{{ 'FormReport'|trans }}</h1>

    <table class="record_properties table">
        <tbody class="thead-default">
            <tr>
                <th>{{ 'Formname'|trans }}</th>
                <th>{{ 'Id'|trans }}</th>
            </tr>
            <tr>
                <td>{{ entity.formName }}</td>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-primary m-y-1" href="{{ path('formreport') }}">
            {{ 'Back to the list'|trans }}
        </a>

        <a class="btn btn-primary m-y-1" href="{{ path('formreport_edit', { 'id': entity.id }) }}">
            {{ 'Edit'|trans }}
        </a>
    {{ form(delete_form) }}

{% endblock %}
